* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffff;
  --black: #0000;
  /*brown-group*/
  --dark-brown: #4E3B31;
  --light-brown: #D7B48D;
  /*green-group*/
  --mint-green: #A3D9C9;
  --dark-green: #3A5B32;
  /*beige-group*/
  --dark-beige: #D6CDAF;
  --light-beige: #EAE3C2;
  /*red-group*/
  --earthy-red: #8B3A3A;
}

body {
  margin: 0;
  font-family: "Poppins", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,li {
  list-style: none;
}

a {
  text-decoration: none;
}